In [1]:
#LIST

In [2]:
list1 = [10,20,40,50,60,20,10]

In [3]:
#insert()

list1.insert(2,30)
print(list1)

[10, 20, 30, 40, 50, 60, 20, 10]

In [4]:
#reverse()

list1.reverse()
print(list1)

[10, 20, 60, 50, 40, 30, 20, 10]

In [5]:
#count()

print(list1.count(20))

2

In [6]:
#sort()

list1.sort()
print(list1)

[10, 10, 20, 20, 30, 40, 50, 60]

In [7]:
#remove()

list1.remove(20)
print(list1)

[10, 10, 20, 30, 40, 50, 60]

In [8]:
#DICTIONARY

In [9]:
dict1 = {'Name': 'Priya', 'Reg_no': '151', 'Branch':'ECE'}

In [10]:
#len()

print(len(dict1))

3

In [11]:
#get()

print(dict1.get('Name'))

Priya

In [12]:
#in and not in

print('Reg_no' in dict1)
print('Marks' in dict1)

True
False

In [13]:
#update()

dict2 = {'Marks':90, 'Grade': 'S'}
dict1.update(dict2)
print(dict1)

{'Name': 'Priya', 'Reg_no': '151', 'Branch': 'ECE', 'Marks': 90, 'Grade': 'S'}

In [26]:
#setdefault()

dict1.setdefault('Maths_marks',85)
print(dict1['Name'], " has got ",dict1.get('Maths_marks'), " in Maths")

Priya  has got  85  in Maths

In [27]:
#SETS

In [29]:
#add()

set1 = set([1,2,3,4,5])
set
1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [30]:
set2= set([7,8,9,10,1,2,3])

In [31]:
#union()

print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
#intersection()

print(set1 & set2)

{1, 2, 3}

In [38]:
set3 = set([1,2,3])
set4 = set([1,2,3,4,5])

In [41]:
#issubset()

print(set3 <= set4)
print(set2<=set1)

True
False

In [44]:
#difference

set5 = set4 - set3
print(set5)

{4, 5}

In [45]:
# TUPLE

In [46]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)

In [47]:
#concatenation

tup3= tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [53]:
#index()

print("Index of 6 is ", tup3.index(6))

Index of 6 is  5

In [55]:
# max and min

tup4= (12,43,7,35,96,13)
print("Maximum value in tuple is ", max(tup4))
print("Minimum value in tuple is ", min(tup4))

Maximum value in tuple is  96
Minimum value in tuple is  7

In [63]:
#accessing values
print ("Value at index 0: ", tup4[0])
print ("Values from index 1 to index 4: ", tup4[1:5])

Value at index 0:  12
Values from index 1 to index 4:  (43, 7, 35, 96)

In [65]:
#nested tuples

toppers = (("Shiv", "BSc", 98), ("Krish", "BCA", 96), ("Ram", "BTech", 99))
for item in toppers:
    print(item)

('Shiv', 'BSc', 98)
('Krish', 'BCA', 96)
('Ram', 'BTech', 99)

In [66]:
#STRINGS

In [67]:
str1 = " The world is beautiful  "

In [76]:
#lower(), upper()

print(str1.lower())
print(str1.upper())

the world is beautiful
THE WORLD IS BEAUTIFUL

In [79]:
#strip()

str2 = "  world  "
print(str2)
print(str2.strip())

  world
world

In [80]:
#replace()

print(str1.replace("The world", "Life"))

Life is beautiful

In [82]:
#swapcase()

str3= "The World"
print(str3.swapcase())

tHE wORLD

In [85]:
#isalnum(), isalpha(), isdigit()

str4 = "JamesBond007"

print(str4.isalnum())
print(str4.isalpha())

str5 = "007"
print(str5.isdigit())

True
False
True